- buy_tickets = busy_places(timetable)
.large_sheep
  .small_row
    = place_html(7, 'AA', buy_tickets).html_safe
    %br
    = place_html(7, 'AB', buy_tickets).html_safe
    %br
    = place_html(7, 'AC', buy_tickets).html_safe

  .small_row.small_row_right
    = place_html(7, 'BA', buy_tickets).html_safe
    %br
    = place_html(7, 'BB', buy_tickets).html_safe
    %br
    = place_html(7, 'BC', buy_tickets).html_safe

  .second_row
    = place_html(17, 'CA', buy_tickets).html_safe
    %br
    = place_html(17, 'CB', buy_tickets).html_safe
    %br
    = place_html(17, 'CC', buy_tickets).html_safe

  .small_row
    = place_html(7, 'DA', buy_tickets).html_safe
    %br
    = place_html(7, 'DB', buy_tickets).html_safe
    %br
    = place_html(7, 'DC', buy_tickets).html_safe

  .small_row.small_row_right
    = place_html(7, 'EA', buy_tickets).html_safe
    %br
    = place_html(7, 'EB', buy_tickets).html_safe
    %br
    = place_html(7, 'EC', buy_tickets).html_safe