#sheep_name
.large_sheep
  .small_row
    - (0..6).each do |i|
      - id = "AA#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "AB#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "AC#{i+1}"
      = place(id, timetable).html_safe

  .small_row.small_row_right
    - (0..6).each do |i|
      - id = "BA#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "BB#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "BC#{i+1}"
      = place(id, timetable).html_safe

  .second_row
    - (0..16).each do |i|
      - id = "CA#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..16).each do |i|
      - id = "CB#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..16).each do |i|
      - id = "CC#{i+1}"
      = place(id, timetable).html_safe

  .small_row
    - (0..6).each do |i|
      - id = "DA#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "DB#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "DC#{i+1}"
      = place(id, timetable).html_safe

  .small_row.small_row_right
    - (0..6).each do |i|
      - id = "EA#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "EB#{i+1}"
      = place(id, timetable).html_safe
    %br
    - (0..6).each do |i|
      - id = "EC#{i+1}"
      = place(id, timetable).html_safe
