- if ferries.empty?
  .error
    At present no ferry
-else
  .timetable_head
    .name
      %b
        Sheep
    .direction
      %b
        Direction
    .time
      %b
        Time
    .time_arrival
      %b
        Arrival
    .unoccupied_places
      %b
        Places
  - ferries.each do |timetable|
    .timetable{onClick: "ferry(#{timetable.id})"}
      .name
        = timetable.ferry.name
      .direction
        = "to #{timetable.direction}"
      .time
        = "#{'0' if timetable.date.hour<= 9}#{timetable.date.hour}:#{'0' if timetable.date.min<= 9}#{timetable.date.min}"
      .time_arrival
        = "#{'0' if timetable.date_arrival.hour<= 9}#{timetable.date_arrival.hour}:#{'0' if timetable.date_arrival.min<= 9}#{timetable.date_arrival.min}"
        %span
          (#{'0' if timetable.date_arrival.year<= 9}#{timetable.date_arrival.year}-#{'0' if timetable.date_arrival.month<= 9}#{timetable.date_arrival.month}-#{'0' if timetable.date_arrival.day<= 9}#{timetable.date_arrival.day})
      .unoccupied_places
        = unoccupied_places(timetable)