- if timetables.empty?
  At present no ferry
-else
  %table{class: ''}
    - timetables.each do |timetable|
      %tr
        %td
          = timetable.ferry.name
        %td
          .datetime_from
            .time
              #{timetable.date.strftime('%I:%M %p')}
            .date
              #{timetable.date.strftime('%a %d %b %Y')}
            %br
            = "#{'Miami' if timetable.direction == 'Cuba'}"
            = "#{'Cuba' if timetable.direction == 'Miami'}"

            %br
            %br

          .datetime_to
            .time
              #{timetable.date_arrival.strftime('%I:%M %p')}
            .date
              #{timetable.date_arrival.strftime('%a %d %b %Y')}
            %br
            = "#{timetable.direction}"

          %td
            .prices
              = min_max_price(timetable.ferry)
              %span
                \/place
            %br
            Places available:
            = unoccupied_places(timetable)
            %br
            %button{class: 'btn btn-primary btn-order', onClick: "ferry(#{timetable.id})", 'data-target' => '.bs-example-modal-lg',
            'data-toggle' => 'modal', :type => 'button'}
              Order