.timetable_head
  .name
    %b
      Sheep
  .direction
    %b
      Direction
  .time
    %b
      Time

- ferries.each do |ferry|
  .timetable{onClick: "ferry(#{ferry.id})"}
    .name
      = ferry.ferry.name
    .direction
      = "to #{ferry.direction}"
    .time
      = "#{"0" if ferry.date.hour<= 9}#{ferry.date.hour}:#{"0" if ferry.date.min<= 9}#{ferry.date.min}"
