- buy_tickets = busy_places(timetable)
.small_sheep
  .first_row
    - (0..16).each do |i|
      - id = "AA#{i+1}"
      = place(id, buy_tickets).html_safe
    %br
    - (0..16).each do |i|
      - id = "AB#{i+1}"
      = place(id, buy_tickets).html_safe
    %br
    - (0..16).each do |i|
      - id = "AC#{i+1}"
      = place(id, buy_tickets).html_safe

  .second_row
    - (0..16).each do |i|
      - id = "BA#{i+1}"
      = place(id, buy_tickets).html_safe
    %br
    - (0..16).each do |i|
      - id = "BB#{i+1}"
      = place(id, buy_tickets).html_safe
    %br
    - (0..16).each do |i|
      - id = "BC#{i+1}"
      = place(id, buy_tickets).html_safe