- buy_tickets = busy_places(timetable)
.small_sheep
  .first_row
    = place_html(17, 'AA', buy_tickets).html_safe
    %br
    = place_html(17, 'AB', buy_tickets).html_safe
    %br
    = place_html(17, 'AC', buy_tickets).html_safe

  .second_row
    = place_html(17, 'BA', buy_tickets).html_safe
    %br
    = place_html(17, 'BB', buy_tickets).html_safe
    %br
    = place_html(17, 'BC', buy_tickets).html_safe